.light {
  --skeleton-background: #fff3;
  --skeleton-background-shimmer: linear-gradient(
    var(--skeleton-background-deg),
    transparent 0%,
    #fff2 20%,
    #fff4 60%,
    transparent 100%
  );
}

.dark {
  --skeleton-background: #3333;
  --skeleton-background-shimmer: linear-gradient(
    var(--skeleton-background-deg),
    transparent 0%,
    #0002 20%,
    #0004 60%,
    transparent 100%
  );
}

.skeleton {
  --skeleton-background-deg: 90deg;

  position: relative;
  z-index: -1;
  background-color: var(--skeleton-background);
  overflow: hidden;
  pointer-events: none;

  &::after {
    position: absolute;
    inset: 0;
    background-image: var(--skeleton-background-shimmer);
    width: 100%;
    height: 100%;
    content: "";
  }
}

.skeleton,
.skeleton--horizontal {
  --skeleton-background-deg: 90deg;

  &::after {
    transform: translateX(-100%);
    animation: shimmer-horizontal 5s infinite;
  }

  @keyframes shimmer-horizontal {
    100% {
      transform: translateX(100%);
    }
  }
}

.skeleton--vertical {
  --skeleton-background-deg: 0deg;

  &::after {
    transform: translateY(-100%);
    animation: shimmer-vertical 5s infinite;
  }

  @keyframes shimmer-vertical {
    100% {
      transform: translateY(100%);
    }
  }
}
